html,
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  color: rgb(235, 235, 235);
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

main::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./img/Suisei03.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

/* Keyframes animation */
@keyframes increase {
  0% { transform: scale(1); }
  100% { transform: scale(1.5); }
}

/* Apply animation to main::before */
main::before {
  animation: increase 60s linear infinite;
}

section {
  position: absolute;
  padding: 2rem;
  margin: 0 0.3rem;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border: 1.5px solid rgb(230, 230, 230);
  border-radius: 10px;
  z-index: 100;
}

header {
  text-align: center;
}

header img {
  border-radius: 9999px;
  width: 6rem;
  height: 6rem;
}

header h1 {
  font-size: 1.5em;
  margin: 5px auto;
}

.address {
  margin-bottom: 12px;
}

.address i {
  margin-right: 0.6rem;
}

li {
  margin: 2rem auto;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

li h2 {
  padding: 0 0.6rem;
}

li i {
  font-size: 26px;
}

a:hover h2, a:hover i {
  color: rgb(95, 95, 95);
}

footer {
  text-align: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* mobile */
/* @media (max-width: 767px) {
  main::before {
      background-image: url(./img/Suisei03.png);
  }
} */